doctype html
html
    head
    body
        // css selector syntax 
        // hash(#) after h1 declare h1 to have an id
        h1#pageTitle Page Title
        
        // dot(.) after p declare p is a class with name big-para 
        p.big-para.
            Here is some text for
            my big paragraph!
        p.big-para.
            Here is some MORE text for
            my big paragraph!
        
        // by default classes without an element will be a div
        // otherwise you can type div.display-box 
        .display-box
        // by default ids without an element will be a div too  
        #myOnlyDiv