//- template.pug
//- p #{name}'s Pug source code!

//- p  
//-   | My text inside the p tag

//- p.  
//-   Lorem ipsum dot sit…

//- p Yes this works too.

//- a.foo_link(href='about.html', target='_blank') About Us

//- .container
//- .container.left
//- div.container.left  
//- #container.left
//- div#container.left

//- link(href='/css/styles.css', rel='stylesheet')
//- script(type='text/javascript').  
//-     var myVar = ‘Hello Var’;
//-     console.log(myVar);
//- script(src='/javascripts/app.js')

//- Declaration (invoice-mixin.pug)
//- mixin invoice  
//-  .invoice-wrapper
//-    h2 Invoice
//-      ul
//-        li number
//-        li email

//- section  
//-   +invoice <--- Just like this!
//-   p This is a post about pug template engine, enjoy it!

mixin header_block(title, link)  
  header
    h3.main-title #{title}
      ul
        li
          a(href='#{link}', target="_blank")

+header_block('Amazing title here!', 'features.html')