doctype html
html
  head
    title Mike Smith Portfolio
    link(rel="stylesheet" href="css/main.css")
  body
    header
      .menu-btn
        span.menu-btn__burger
      nav.nav
        ul.menu-nav        
          li.menu-nav_item #[a.menu-nav_link(href="index.html").active Home]
          li.menu-nav_item #[a.menu-nav_link(href="about.html") About Me]
          li.menu-nav_item #[a.menu-nav_link(href="projects.html") My Projects]
          li.menu-nav_item #[a.menu-nav_link(href="contact.html") Contact Me]

    main
      section.home
        h2 Hi! My Name Is
        h1.home__name Mike #[span.home__name--last Smith]
        h2 Web Developer, Designer & Programmer
        .social-icons
          a(href="#!") #[i.fab.fa-twitter.fa-2x]
          a(href="#!") #[i.fab.fa-facebook.fa-2x]
          a(href="#!") #[i.fab.fa-instagram.fa-2x]
          a(href="#!") #[i.fab.fa-github.fa-2x]

      footer &copy; Copyright 2019
    
    script(src="https://kit.fontawesome.com/6d2ea823d0.js")
    script(src="js/main.js")