//- doctype xml
//- doctype strict
//- doctype transition
doctype html
html
    head
    body
        h1 Welcome to dcode!
        p. 
            This is a paragraph tag
            and this is a new line
        ul
            li Item1
            li Item2
            li Item3
            li Item4