doctype html
html
  head
    link(rel="stylesheet" href="global.css")
  body
    ul.list
      li Home
      li Menu1
      li Menu2
      li Menu3
        ul.sub-menu
          li SubMenu1
          li SubMenu2
            ul.sub-sub-menu
              li SubSubMenu1
              li SubSubMenu2
              li SubSubMenu3
          li SubMenu3
          li SubMenu4
      li Menu4
      li Menu5
      li Menu6