html
  head
    link(rel="stylesheet" href="../css/main.css")
    title= (pageTitle ? pageTitle + ' - ' : '') + 'Mike Smith Portfolio'
  body
    include header
    block content

    script(src="https://kit.fontawesome.com/6d2ea823d0.js")
    script(src="../js/main.js")


