extends ./_layout

block content
  main
    section.about
      .about__bio-image
        .about__bio
          h2.text-secondary BIO
          p. 
            | Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perspiciatis iste 
            | debitis dolorem libero provident incidunt ipsam, rerum vero ratione eaque 
            | aperiam natus cumque ut rem. Officia atque nostrum sed molestiae.
      .jobs
        .jobs__job
          h2.text_secondary 2017 - Current
          h3 Google
          h6 Full Stack Developer
          p. 
            | Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perspiciatis iste 
            | debitis dolorem libero provident incidunt ipsam, rerum vero ratione eaque 
            | aperiam natus cumque ut rem. Officia atque nostrum sed molestiae.
        .jobs__job
          h2.text_secondary 2015 - 2017
          h3 Microsoft
          h6 Front End Developer
          p. 
            | Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perspiciatis iste 
            | debitis dolorem libero provident incidunt ipsam, rerum vero ratione eaque 
            | aperiam natus cumque ut rem. Officia atque nostrum sed molestiae.
        .jobs__job
          h2.text_secondary 2012 - 2015
          h3 Super Design & Co.
          h6 Graphic Designer
          p. 
            | Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perspiciatis iste 
            | debitis dolorem libero provident incidunt ipsam, rerum vero ratione eaque 
            | aperiam natus cumque ut rem. Officia atque nostrum sed molestiae.

      include footer