extends ./_layout

block content
  main
    section.contact
      h2 Contact Me
      .contact__list
        .contact__email #[i.fas.fa-envelope] Email
          .text-secondary email@email.com
        .contact__phone #[i.fas.fa-mobile-alt] Phone
          .text-secondary +61 424 314 958
        .contact__address #[i.fas.fa-address-book] Address
          .text-secondary 123 Forrest Street, Elizabeth, Singapore

      include footer