footer 
  .footer-link.
    Copyright &copy; 2019
  .social-icons
    a(href="#!") #[i.fab.fa-twitter.fa-2x]
    a(href="#!") #[i.fab.fa-facebook.fa-2x]
    a(href="#!") #[i.fab.fa-instagram.fa-2x]
    a(href="#!") #[i.fab.fa-github.fa-2x]