extends ./_layout

block content
  main
    section.projects
      .projects__bio-image
        h1.text-secondary My Projects

      .projects__items
        .projects__item
          img(src="../img/project-1.jpg" alt="My Project 1")
          .projects__btns
            a.projects__btn(href="#!") #[i.fas.fa-eye] Preview
            a.projects__btn(href="#!") #[i.fab.fa-github] Github
        .projects__item
          img(src="../img/project-2.jpg" alt="My Project 2")
          .projects__btns
            a.projects__btn(href="#!") #[i.fas.fa-eye] Preview
            a.projects__btn(href="#!") #[i.fab.fa-github] Github
        .projects__item
          img(src="../img/project-3.jpg" alt="My Project 3")
          .projects__btns
            a.projects__btn(href="#!") #[i.fas.fa-eye] Preview
            a.projects__btn(href="#!") #[i.fab.fa-github] Github
        .projects__item
          img(src="../img/project-4.jpg" alt="My Project 4")
          .projects__btns
            a.projects__btn(href="#!") #[i.fas.fa-eye] Preview
            a.projects__btn(href="#!") #[i.fab.fa-github] Github
        .projects__item
          img(src="../img/project-5.jpg" alt="My Project 5")
          .projects__btns
            a.projects__btn(href="#!") #[i.fas.fa-eye] Preview
            a.projects__btn(href="#!") #[i.fab.fa-github] Github
        .projects__item
          img(src="../img/project-6.jpg" alt="My Project 6")
          .projects__btns
            a.projects__btn(href="#!") #[i.fas.fa-eye] Preview
            a.projects__btn(href="#!") #[i.fab.fa-github] Github

      include footer